# Supabase Configuration eas RvReV1bMxRLqTKX5P2t68laIKs5GlryO_f8A8in9
EXPO_PUBLIC_SUPABASE_URL=https://your-project.supabase.co
EXPO_PUBLIC_SUPABASE_ANON_KEY=your_anon_key_here

# Google Maps API
EXPO_PUBLIC_GOOGLE_MAPS_API_KEY=your_google_maps_api_key

# Organization Name
EXPO_PUBLIC_ORG_NAME=localwala's
